<html xmlns:th="https://www.thymeleaf.org">
<body>
<h1>Hello <span th:text="${commande.client.firstname}"/> ! </h1>
<a th:href="@{/store/clienthome}">All orders</a>

<h1>Order <span th:text="${commande.name}"></span></h1>

<a th:href="@{/store/orders/{OrderId}/print(OrderId=${commande.id})}">print</a>

<h2>lines</h2>
<ul>
  <li th:each="line : ${commande.lines}">
    <span th:text="${line.libelle}"></span> :
    <span th:text="${line.quantity}"></span> x
    <span th:text="${line.cost}"></span>€
    <a th:href="@{/store/orders/{OrderId}/delete/{lineId}(OrderId=${commande.id}, lineId=${line.id})}">delete</a>
  </li>
</ul>

<h1>New order line</h1>
<form th:action="@{/store/orders/{id}/newLine(id=${commande.id})}"
      method="POST">

  <div> Name : <input type="text" name="libelle"></div>
  <div> Quantity : <input type="number" name="quantity"></div>
  <div> Unit cost : <input type="number" name="cost"></div>
  <div><input type="SUBMIT" value="Ajouter"></div>
</form>

</body>
</html>