<html xmlns:th="https://www.thymeleaf.org">
<body>
<h1>Login</h1>
<form action="/store/login"
      method="Get">
    <div>Email : <input type="email" name="email"></div>
    <div>Password : <input type="password" name="password"></div>
    <div><input type="SUBMIT"></div>
</form>


<hr/>

<h1>Signin</h1>
<form action="/store/registerClient"
      method="POST">
    <div>Email : <input type="email" name="email"></div>
    <div>Password : <input type="password" name="password"></div>
    <div>First name : <input name="firstname"></div>
    <div>Last name : <input name="name"></div>
    <div><input type="SUBMIT"></div>
</form>
</body>
</html>