<html xmlns:th="https://www.thymeleaf.org">
<body>
<h1>Hello <span th:text="${commande.client.firstname}"/> ! </h1>
<a th:href="@{/store/home}">Back to Home</a> <h1> Order <span th:text="${commande.name}"></span></h1>

<table border="1">
    <tr><th>Name</th><th>Quantity</th></tr>
    <tr th:each="line : ${commande.lines}">
        <td th:text="${line.libelle}" />
        <td th:text="${line.quantity}" />
    </tr>
</table>

<br/>

<form th:action="@{/store/orders/{id}/validate(id=${commande.id})}" method="post">
    <button type="submit" style="padding: 10px 20px; background-color: green; color: white; cursor: pointer;">
        CONFIRMER ET ENVOYER LA COMMANDE
    </button>
</form>

</body>
</html>