<html xmlns:th="https://www.thymeleaf.org">
<body>
<h1>All stocks </h1>
<table border="1">
    <tr><th>Name</th><th>Quantity</th><th>Cost</th></tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.libelle}" />
        <td th:text="${product.quantity}" />
        <td th:text="${product.cost}" />
    </tr>
</table>
<div><a th:href="@{/home}">refresh</a></div>


<h1>Resupply</h1>
<form th:action="@{/home/resupply}" method="get">
    <button type="submit" style="padding: 10px 20px; background-color: gray; color: white; cursor: pointer;">
        Resupply
    </button>
</form>

</body>
</html>